/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family:"Microsoft JhengHei";
  padding-top: 1%;
  padding-left: 3%;
  background-size: 50% auto; /* 圖片  寬 高 */
  background-repeat: repeat; /* 複製圖片 X軸 Y軸 */
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrS6nRBdKKEGfONbcIJXUGGbuE7hUj_lSyytDlDX_ZWV9tbMiUXg"); 
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  padding-bottom:1.5%; 
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  height: 15%;
  display: none;
}
@media (min-width: 100px) { /* 最小100寬 RWD */
  .sidebar {
    /* position: fixed; */
    /* top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000; */
    display: block;
    padding: 20px; 
    overflow-x: hidden;
    overflow-y: auto;  /*Scrollable contents if viewport is shorter than content. */
     background-color: #15b830;
    /*border-right: 1px solid #eee; */
  }
 
}



/* Sidebar navigation */
/*.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
/*  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}*/
 .OpenMenu{
  text-decoration: none; /* ��r�׹� */
  font-size:30px;
  cursor:pointer;
   padding-top:5.5%; 
   padding-left:2%;
 }
 
.sidenav { /* Class �� CSS*/
  /*margin-top:5%;  test ���~��Z */
  height: 100%; /* �� */
  width: auto; /* �i�վ� */
  position: fixed; /* ��m�T�w */
  z-index: 1; /* Z�b �V�j �V�W�� */
  top: 0;
  left: 0;
  background-color: #111; /* �I���C�� */
  overflow-x: hidden; /* ��(X�b)�Ӥj �v�ñ��b */
  overflow-y:hidden;
  transition: 0.5s ease-in 0.25s; /* CSS3 �ܧ� */
  padding-top: 7.5%; /* �W���Z */
}

  .sidenav a {
      font-size:18px; /* 連結文字大小 */
      padding: 1% 18px 20px 40px; /* �s�������Z */
      text-decoration: none; /* ��r�׹� */
      color: #818181; /* ��r�C�� */
      display: block; /* �i�{�϶� */
      transition: 0.2s ease-in ; /* 時間 */
      white-space:nowrap; /* 死都不換行 */
  }

    .sidenav a:hover {
      color: #f1f1f1; /* ��r�IĲ�ܪ��C�� */
    }

  .sidenav .closebtn { /* Menu (X���]�w) �i�} �M ���� �]�w */
      position:relative; /* 相依 */
      top: 0;
      right: 7.5%; /* test */
      font-size: 42px;
      margin-top: -8%;
      margin-left: 10%;
  }
/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 100px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.select-sty {
  padding-left: 40px;
  padding-top: 1.3%;
  padding-bottom: 1.5%;
  border: 1px solid #D75404;
}
.hr_color{
  border: 1px solid #D75404;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  position: relative;
  text-align: center;
  width: auto;
  left: 0px;
  right: 10px;
  background-color: brown;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
  background-color: brown;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.btn {
  background-color: rgb(55, 115, 172); /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius:10px;
  position:absolute;
  right: 30px;
}
/* .dd{
  background-color: #008CBA;
} */

.btn-update {
  background-color: rgb(0, 210, 247); 
  color: rgb(65, 64, 64); 
  border: 2px solid #008CBA;
}

.btn-update:hover {
  background-color: #008CBA;
  color: white;
}

.power-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: transparent;
  border-color:transparent;
  outline: none;
  border-radius: 45px;
}

.power-btn:hover {
  background-color: #ffffffa1;
}

.power-img {
  width:36px;
  height:36px;
}
.NUTC-img {
  position: fixed;
  margin-left:5%;
  width:48px;
  height:48px;
}