body {
    font-family:"Microsoft JhengHei";
    padding-top: 1%;
    padding-left: 3%;
    background-size: 50% auto; /* 圖片  寬 高 */
    background-repeat: repeat; /* 複製圖片 X軸 Y軸 */
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrS6nRBdKKEGfONbcIJXUGGbuE7hUj_lSyytDlDX_ZWV9tbMiUXg"); 
  }


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 100px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}


/* Sidebar navigation */

.hr_color{
    border: 1px solid #D75404;
  }

  .OpenMenu{
    font-size:30px;
    cursor:pointer;
     padding-top:5.5%; 
     padding-left:2%;
   }
   
  .sidenav { /* Class �� CSS*/
    /*margin-top:5%;  test ���~��Z */
    height: 100%; /* �� */
    width: auto; /* �i�վ� */
    position: fixed; /* ��m�T�w */
    z-index: 1; /* Z�b �V�j �V�W�� */
    top: 0;
    left: 0;
    background-color: #111; /* �I���C�� */
    overflow-x: hidden; /* ��(X�b)�Ӥj �v�ñ��b */
    overflow-y:hidden;
    transition: 0.5s ease-in 0.25s; /* CSS3 �ܧ� */
    padding-top: 7.5%; /* �W���Z */
  }
  
    .sidenav a {
        font-size:18px; /* 連結文字大小 */
        padding:1% 18px 20px 40px; /* �s�������Z */
        text-decoration: none; /* ��r�׹� */
        color: #818181; /* ��r�C�� */
        display: block; /* �i�{�϶� */
        transition: 0.2s ease-in ; /* 時間 */
        white-space:nowrap; /* 死都不換行 */
    }
  
      .sidenav a:hover {
        color: #f1f1f1; /* ��r�IĲ�ܪ��C�� */
      }
  
    .sidenav .closebtn { /* Menu (X���]�w) �i�} �M ���� �]�w */
        position:relative; /* 相依 */
        top: 0;
        right: 7.5%; /* test */
        font-size: 42px;
        margin-top: -8%;
        margin-left: 10%;
    }
/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 100px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.power-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: transparent;
    border-color:transparent;
    outline: none;
    border-radius: 45px;
}

.power-btn:hover {
    background-color: #ffffffa1;
}

.power-img {
    width:36px;
    height:36px;
}
.NUTC-img{
    position: fixed;
    margin-left:5%; 
    width:48px;
    height:48px;
  }